# generate files with: docker-builder -u -f=docker-builder.cfg

my $project = 'mojo-leds';
my $title   = 'Mojo-Leds';    # $project;
my $version = '1.2';

{
    docker => {
        buildkit => 1,
        from     => "alpine:3.14",
        project  => $project,
        image    => "ebruni/$project",
        history  => [
            {
                date    => '2021-07-29',
                version => '1.0',
                comment => 'Initial Version'
            },
            {
                date    => '2021-08-09',
                version => '1.1',
                comment => 'Create default app'
            },
            {
                date    => '2021-08-23',
                version => '1.2',
                comment => 'Standard starup & mongodb/micso tags'
            },
        ],
    },
    git => {
        repo => "https://github.com/EmilianoBruni/$title",
    },
    global => {
        author      => { name => 'Emiliano Bruni', mail => 'info@ebruni.it' },
        title       => $title,
        description => q{This Docker File is used to generate a docker image
        with all necessary components required to Mojo::Leds
        [https://metacpan.org/pod/Mojo::Leds] framework
        components} =~ s/\s{8}//gmr,
        app_folder  => '/var/www',
        publish     => '3000 9091',
        os_packages => [
            qw/make gcc perl-dev perl-app-cpanminus
              perl-module-build perl-namespace-clean perl-boolean
              perl-json-maybexs perl-test-fatal perl-path-tiny perl-moo
              perl-file-find-rule perl-number-compare perl-text-glob musl-dev
              ca-certificates wget/
        ],
        license      => 'Artistic-2.0',
        perl_modules => ['Mojo::Leds'],
        versions     => [$version],
    },
    releases => {
        main => {
            versions       => [ $version, 'latest' ],
        },
        mongodb => {
            append_version => 'mongodb',
            perl_modules   => [
                qw/Mojolicious::Plugin::Mongodbv2
                  Mojolicious::Plugin::Restify::OtherActions/
            ],
            versions => [ $version . '-mongodb', 'mongodb' ],
        },
        'micso-mongodb' => {
            append_version => 'micso',
            packages => [qw/perl-lwp-protocol-https/],
            perl_modules   => [
                qw/
                    Mojolicious::Plugin::Mongodbv2
                    Mojolicious::Plugin::Restify::OtherActions
                    Mojolicious::Plugin::AccessLog
                    Mojolicious::Plugin::AutoReload
                    Mojolicious::Plugin::LinkedContent::v9
                    Minion::Backend::MongoDB
                    Mojolicious::Plugin::Minion
                  /
            ],
            versions => [ $version . '-micso-mongodb', 'micso-mongodb' ],
        },
    },
    templates => [
        {
            source => 'dockerfile.ep',
            target => 'Dockerfile'
        }
    ],
};
